Join us in Whirled
Greetings!

You are invited to participate in this Whirled installation, an online social
world for chat, games and player-created content.

An account has been created for you. You can access this Whirled here:

${server_url}

Username: ${username}
Password: ${password}

Please keep your login information private.

Hope to see you there!
