Whirled Postcard: ${subject}
You got a Whirled Postcard from ${sender}!

${title}

${snap_url}
#if (${caption})

"${caption}"
#end

You can visit this room at ${server_url}go/world-s${scene_id}

This email was sent by ${sender_email} from ${server_url}
